header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
    padding-bottom: 1em;
    box-shadow: 0 4px 8px rgba(22, 22, 22, 0.1);
}

header nav ul.active {
    display: flex;
}

.template {
    display: none;
}

.burger {
    display: block;
}

.burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.welcome p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.image {
    max-width: 100%;
}

.welcome ul li img {
    margin-bottom: 1rem;
}

.projects {
    background: linear-gradient(to bottom, var(--light-gray) 50%, var(--dark-gray) 50%);
}

.about p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.5rem;
}