@font-face {
    font-family: 'Incompleeta';
    src: url('fonts/IncompleetaRegular.woff2') format('woff2'),
         url('fonts/IncompleetaRegular.woff') format('woff'),
         url('fonts/IncompleetaRegular.eot') format('eot'),
         url('fonts/IncompleetaRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black: #161616;
    --white: #FFFEFE;
    --yellow: #FFC759;
    --light-gray: #F2F3F2;
    --dark-gray: #EAEBEB;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--white);
}

header {
    color: var(--black);
    font-weight: bold;
    font-size: large;
    padding: 0.2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: inline;
    font-family: 'Incompleeta', cursive;
    margin: 0 0 0 0.5em;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 3em 0 0;
    display: flex;
    gap: 1em;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
}

header nav ul li a {
    color: var(--black);
    text-decoration: none;
    position: relative;
}

header nav ul li a span {
    display: inline-block;
    transition: transform 0.3s ease;
}

header nav ul li a span:hover {
    transform: scale(1.2);
}

section {
    padding: 1em;
}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    text-align: justify;
}

.welcome {
    padding: 0 0 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome p {
    width: 50rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.welcome ul {
    margin: 0 3em 0 0;
    list-style: none;
    text-align: center;
}

.welcome ul li {
    display: inline;
    margin: 0 5em;
}

.welcome ul li img {
    width: 96px;
    height: 96px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em 1em 1em;
    margin: 0 1rem;
}

.text-container {
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(22, 22, 22, 0.1);
    text-align: center;
}

.image {
    aspect-ratio: 1/1;
    flex: 1;
    max-width: 33.33%;
    height: auto;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(22, 22, 22, 0.1);
}

.image-container .image:not(:last-child) {
    margin-right: 2em;
}

.projects {
    padding: 1em 0 0 0;
    margin-top: 1em;
    background: linear-gradient(to bottom, var(--light-gray) 70%, var(--dark-gray) 30%);
}

.projects h2 {
    font-size: 3rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.project {
    position: relative;
    width: 300px;
    margin: 20px;
    cursor: pointer;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(22, 22, 22, 0.1);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(22, 22, 22, 0.5);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 8px;
}

.project:hover .overlay {
    opacity: 1;
}

.project-info {
    text-align: center;
    padding: 20px;
}

.project-info h3 {
    margin-bottom: 10px;
}

.project-info p {
    font-size: 14px;
    text-align: center;
}

.project-info a {
    display: inline-block;
    background-color: var(--yellow);
    color: var(--black);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 16px;
    margin-top: 10px;
}


.about {
    padding: 0.1em;
    background: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: 3rem;
}

.about p {
    width: 50rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

footer {
    bottom: 0;
    background: var(--black);
    color: var(--white);
    padding: 0.1em;
}

footer p {
    text-align: center;
}