.welcome p {
    width: 30rem;
}

.image {
    max-width: 100%;
}

.about p {
    width: 30rem;
}

header nav ul li a span:hover {
    transform: none;
}

.projects {
    background: linear-gradient(to bottom, var(--light-gray) 45%, var(--dark-gray) 0%);
}